appdirs == 1.4.4
attrs == 20.3.0
humanize >= 2.6.0
jsonschema == 3.2.0
Jinja2 == 2.11.3
macaroonbakery == 1.3.1
python-dateutil == 2.8.1
PyYAML == 5.3.1
requests == 2.25.0
requests-toolbelt == 0.9.1
tabulate == 0.8.9

# FIXME: we need to start getting this from the official-final-project, and
# eventually from PyPI as a regular dependency
git+git://github.com/cmatsuoka/craft-parts-orig@main

# FIXME this comes from craft-parts-orig requirements, we don't know why pip
# is not installing them automatically 
gnupg==2.3.1
http://archive.ubuntu.com/ubuntu/pool/main/p/python-apt/python-apt_2.1.3ubuntu1.tar.xz; sys_platform == 'linux'
https://launchpad.net/python-distutils-extra/trunk/2.39/+download/python-distutils-extra-2.39.tar.gz
launchpadlib==1.10.13
progressbar==2.5
pyelftools==0.27
pyxdg==0.27
requests-unixsocket==0.2.0
